---
---
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}
.google-maps iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 450px !important;
}

#fb-root {
    display: none;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.scrolloff {
    pointer-events: none;
}
